<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngIf="erroMessage">
      <ion-label danger>
        {{erroMessage}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label floating primary>Username</ion-label>
      <ion-input type="text" spellcheck="false" autocapitalize="off" [(ngModel)]="username" name="User" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating primary>Password</ion-label>
      <ion-input name="password" type="password" [(ngModel)]="password" name="Password" required>
      </ion-input>
    </ion-item>
    <ion-row responsive-sm>
      <ion-col>
        <button type="submit" (click)="login()" primary block>Login</button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>